body {
  position: relative;
  font-family: var(--ff);
  font-size: var(--fz);
  line-height: 100%;
  min-height: 100vh;
  display: flow-root;
  margin: 0;
  padding: 0;

  color: var(--gray-500);
  background-color: var(--dark);
}

* {
  box-sizing: border-box;
}

input,
textarea {
  color: var(--gray-500);
}

button,
a {
  cursor: pointer;
}

small {
  font-size: var(--fsm);
}

label {
  display: block;
  font-size: var(--fsm);
}
