@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");
@import url("./base.css");
@import url("./utils.css");

:root {
  /* Fonts */
  --ff: Montserrat, Ubuntu, sans-serif;
  --fz: 14px;
  --fsm: 12px;

  /* Colors */
  --dark: hsl(224, 38%, 14%);
  --bg: hsl(224, 27%, 22%);
  --light: hsl(0, 0%, 100%);

  --gray-400: hsl(220, 7%, 83%);
  --gray-500: hsl(240, 8%, 75%);
  --gray-800: hsl(224, 10%, 45%);
  --gray-900: hsl(222, 22%, 25%);

  --purple-500: hsl(271, 70%, 60%); /* button */
  --purple-600: hsl(245, 82%, 67%); /* text */

  --green-100: hsla(147, 67%, 47%, 0.12);
  --green-500: hsl(147, 67%, 47%);

  /* Radius */
  --rounded: 5px;
  --rounded-lg: 8px;
}
